# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] =pd.to_datetime(df['date'], format='%Y-%m-%d')
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [4]:
# Set the date column as the DataFrame index
# Drop the date column
df=df.set_index('date')
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [5]:
from scipy import stats

In [6]:
# Filter data for desired months
jun_df=df[df.index.month==6].dropna()
dec_df=df[df.index.month==12].dropna()
print(jun_df,dec_df)

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[1574 rows x 3 columns]                 station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1405 rows x 3 columns]

In [7]:
# Identify the average temperature for June
jun_temp_mean=round(jun_df['tobs'].mean(),1)
print(f'The average temperature for June is {jun_temp_mean}F.')

The average temperature for June is 74.9F.

In [8]:
# Identify the average temperature for December
dec_temp_mean=round(dec_df['tobs'].mean(),1)
print(f'The average temperature for December is {dec_temp_mean}F.')

The average temperature for December is 70.9F.

In [9]:
# Create collections of june temperature data
jun_df['tobs'].describe()

count    1574.000000
mean       74.887548
std         3.255695
min        65.000000
25%        72.000000
50%        75.000000
75%        77.000000
max        85.000000
Name: tobs, dtype: float64

In [10]:
# Create collections of december temperature data
dec_df['tobs'].describe()

count    1405.000000
mean       70.930249
std         3.741578
min        56.000000
25%        69.000000
50%        71.000000
75%        74.000000
max        81.000000
Name: tobs, dtype: float64

In [11]:
# Run paired t-test
stats.ttest_ind(jun_df['tobs'], dec_df['tobs'], equal_var = False)

Ttest_indResult(statistic=30.624201480767336, pvalue=6.622829250184814e-178)

### Analysis

The pareid t-test is used here since this is to compare the means of the temperature under two separate senarios.The two-tailed p-value is approaching zero and the calculated t-statistics is almost 30, which means that the null hypothesis is rejected. The temperature average in June and December **have statistically significant difference**.